!############
!##  rofi  ##
!############

! Enable the extended coloring options
rofi.color-enabled: true

!                  bg       border   separator
rofi.color-window: #073642, #073642, #073642
!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #073642, #eee8d5, #073642, #073642, #ffffff
rofi.color-active: #073642, #eee8d5, #073642, #073642, #ffffff
rofi.color-urgent: #073642, #eee8d5, #073642, #073642, #ffffff

rofi.separator-style: 	solid
rofi.sidebar-mode: 	    false
rofi.show-icons:		true
rofi.lines: 		  	5
rofi.font: 			  	Iosevka 15
rofi.bw: 			  	1
rofi.columns: 		  	1
rofi.padding: 			5
rofi.fixed-num-lines: 	false
rofi.hide-scrollbar: true
